body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-repeat: repeat;
 background: url("img/organized_chaos_artwork.jpg");
}
#video_wrapper
{
 margin:0px;
 padding:0px;
}
#video_wrapper video
{
 position: fixed;
 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
#wrapper
{
 position:relative;
 margin:0 auto;
 padding:20px;
 z-index:2;
 font-family: sega;
 color: white;
 font-size: 450%;
 -webkit-text-stroke-width: 3px;
 -webkit-text-stroke-color: black;
}
#wrap {
  width:1400px;
  margin:0 auto;
}
#left_col {
  float:left;
  width:700px;
}
#right_col {
  float:right;
  width:700px;
}
@font-face {
  font-family: sega;
  src: url(sega.ttf);
}